<!--
  Generated template for the InputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{itemname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  id="bkgrnd" padding>

    <div id="buttonrow" padding>
        <ion-segment [(ngModel)]="part">
          <ion-segment-button class="segbtn" value="Ingredients" id="toptab">
            INGREDIENTS
          </ion-segment-button>
          <ion-segment-button class="segbtn" value="Instructions" id="toptab">
            INSTRUCTIONS
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="part">

        <ion-list *ngSwitchCase="'Ingredients'">
          <ion-item id="formspace">


              <div class="container">
                <div [hidden]="submitted">
                  <form (ngSubmit)="onSubmit()" #ingredForm="ngForm">
                    <div class="form-group">
                      <label for="name">Ingredient</label>
                      <input type="text" class="form-control" id="name"
                             required
                             [(ngModel)]="model.name" name="name"
                             #name="ngModel">
                      <div [hidden]="name.valid || name.pristine"
                           class="alert alert-danger">
                        Name is required
                      </div>
                    </div>
              
                    <div class="form-group">
                    <label for="quantity">Amount</label>
                    <input type="text" class="form-control" id="quantity" 
                        required 
                        [(ngModel)]="model.quantity" name="quantity" 
                        #quantity="ngModel">
                    <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
                      Quantity must be a number
                    </div>
                    </div>
              
                    <div class="form-group">
                      <label for="uom">Select:</label>
                      <select class="form-control" id="uom"
                              required
                              [(ngModel)]="model.uom" name="uom"
                              #uom="ngModel">
                        <option *ngFor="let unit of UoMs" [value]="unit">{{unit}}</option>
                      </select>
                      <div [hidden]="uom.valid || uom.pristine" class="alert alert-danger">
                        Unit of Measure is required
                      </div>
                    </div>
              
                    <button type="submit" class="btn btn-success" [disabled]="!ingredForm.form.valid">Add this ingredient</button>
                    <!-- <button type="button" class="btn btn-default" (click)="newIngred(); ingredForm.reset()">New Hero</button>
                    <i>with</i> reset -->
              
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" (click)="newIngred()">Clear</button>
                    <!-- <br>
                    <button id="btndone" (click)="putNew()">Done editing this Recipe</button> -->
              
                   <!-- NOT SHOWN IN DOCS -->
              
                   <!-- - -->
                  </form>
                </div>
              
                <div [hidden]="!submitted">
                  <button class="btn btn-primary" (click)="submitted=false; newIngred()">Add another ingredient</button>
                </div>
              </div>
 



              <div>
              </div>
          </ion-item>       
          
                       

              
        </ion-list>
      
        <ion-list *ngSwitchCase="'Instructions'">
       
            {{instructions.text}}


            <ion-list>
              
              
                <ion-item>
                  <ion-textarea placeholder="Recipe Instructions" id="textformthing"></ion-textarea>
                </ion-item>
              </ion-list>


            <!-- <ion-item id="formspace">


                <div class="container">
                  <div >
                    <form (ngSubmit)="saveInstructions()" #instructionsForm="ngForm">
                      <div class="form-group">
                        <label for="instructions">Instructions</label>
                       
                        <ion-item>
                            <ion-label>Description</ion-label>
                            <ion-textarea [(ngModel)]="instructions.text" name="instructions" id="instructionstext"></ion-textarea>
                          </ion-item>

                        <input type="textarea" class="form-control" id="instructionstext"
                               required
                               [(ngModel)]="instructions.text" name="instructions"
                               #instructions="ngModel">

                      </div>
                

                
                      <button type="submit" class="btn btn-success" [disabled]="!instructionsForm.form.valid">Save Instructions</button>
      
                      &nbsp;&nbsp;
                      <button type="button" class="btn btn-default" (click)="saveInstructions()">Clear</button>
           
                    </form>

                  </div>
                
                
                </div>
   
  
  
  
                <div>
                </div>
                
                <form (ngSubmit)="logForm()">
                    <ion-item>
                      <ion-label>Todo</ion-label>
                      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Description</ion-label>
                      <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
                    </ion-item>
                    <button ion-button type="submit" block>Add Todo</button>
                  </form>
            </ion-item> -->

            
        </ion-list>
      
      </div>

      <div>
          <ion-row ion-list id="ingredientRow" *ngFor="let item of ingredientsList; let i = index">
         
                <ion-card id="card">
                    
              <div id="ingredientCard">{{item}}:
                {{quantitiesList[i]}}
                {{uomsDisplayed[i]}}
              
              <button id="remove" (click)="deleteIngred(item, i)">Remove</button>
            </div>
            </ion-card>
          </ion-row>
          </div>

</ion-content>
