page-input {

        #bkgrnd {
            background-color: map-get($colors, 'mybrown');
        }

        #title {
            text-align: center;
            color: white;
        }

        #buttonrow {
            background-color: map-get($colors, 'mybrown');
        }
    
        #toptab {
            font-size: larger;
            color: white;
            font-weight: bold;
        }

        button {
            font-size: large;
            border: 3px solid black;
            border-width: 3px;
            border-radius: 6px;
            padding: 5px;
            margin-right: 5px;
            background-color: map-get($colors, 'mytan');
            color: black;
        }
    

        #formspace {
            background-color: map-get($colors , 'primary' );
            border-radius: 9px;
            border: 3px solid black;

        }

        #page {
            background-color: white;
            font-weight: bold;
            border-color: map-get($colors, 'secondary');
            font-size: 140%;
        }

        #card {
            font-size: large;
            background-color: map-get($colors, 'secondary' );
        }

        #remove {
            float: right;
            font-size: small;
            background-color: map-get($colors, 'mytan');
            border: 3px solid black;
            border-width: 3px;
            border-radius: 4px;
            padding: 3px;
            margin: 3px;
        }

        #editName {
            font-size: small;
            background-color: map-get($colors, 'mytan');
            border: 2px solid black;
            border-radius: 4px;
            padding: 3px;
            margin-top: -10px;
        }

        #inputPageTitle {
            
            text-align: center;
            // float: center;
            // font-size: small;
            // background-color: map-get($colors, 'mytan');
            // border: 2px solid black;
            // border-width: 3px;
            // border-radius: 4px;
            // padding: 3px;
            // margin: 1px;
        }
                                
        #amount {
            text-align: left;
            float: center;
            padding: 10px;
            font-size: large
        }

        #change {
            float: left;
            padding: 5px;
            background-color: map-get($colors, 'mybrown');
            border: 3px solid black;
            color: white;
            border-radius: 4px;
            margin-left: 6px;
            margin-bottom: 4px;
        }


        .form-control {
            margin: 9px;
            font-weight: bold;
        }

        #quantity {
            font-size: small;
            width: 96px;
        }

        #UoM {
            float: right;
            font-size: large;
            background-color: map-get($colors, 'mytan');
            border-width: 4px;
            padding: 5px;
            margin-right: 5px;
            font-weight: bold;
            width: 108px;
        }

        #ingredient {
            width: 190px;
        }

        #doneEditing {
            align-items: center;
            float: center;
        }

        #ingredientName {
            float: left;
        }

        #ingredientCard {
            font-weight: bold;
        }

        #currentInstructions {
            font-size: large;
            white-space: pre-line;
            background-color: map-get($colors , 'primary' );
            border-radius: 9px;
            border: 3px solid black;
            padding: 1em;
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }
         
        #textOfInstructions {
            background-color: map-get($colors, 'secondary' );
            font-size: 1.1pc;
            padding: .7em;
        }
    
        #instruct {
            font-size: large;
            padding-left: 4px;
            height: 150px;
            line-height: 21px;
            word-wrap: break-word;
            
            .text-input {
                height: 150px;
                background: map-get($colors, 'bluish' );
            }
        }

    @media (min-width: 550px) {
        #bbrr {
            display: none;
        }
        
        #currentInstructions, #textOfInstructions {
            font-size: 1.6pc;
        }
    }

    @media (min-width: 600px) {
        
        #instruct {
            width: 100%;
            height: auto;
            .text-input {
                height: 150px;
            }
        }

        #textOfInstructions, #currentInstructions {
            font-size: 1.7pc;
        }

    }
}