<!--
  Generated template for the InputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{itemname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  id="bkgrnd" padding>

    <div id="buttonrow" padding>
        <ion-segment [(ngModel)]="part">
          <ion-segment-button class="segbtn" value="Ingredients" id="toptab">
            INGREDIENTS
          </ion-segment-button>
          <ion-segment-button class="segbtn" value="Instructions" id="toptab">
            INSTRUCTIONS
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="part">

        <ion-list *ngSwitchCase="'Ingredients'">
          <ion-item id="formspace">






              <div class="container">
                <div [hidden]="submitted">
                  <form (ngSubmit)="onSubmit()" #ingredForm="ngForm">
                    <div class="form-group">
                      <label for="name">Ingredient</label>
                      <input type="text" class="form-control" id="name"
                             required
                             [(ngModel)]="model.name" name="name"
                             #name="ngModel">
                      <div [hidden]="name.valid || name.pristine"
                           class="alert alert-danger">
                        Name is required
                      </div>
                    </div>
              
                    <div class="form-group">
                    <label for="quantity">Amount</label>
                    <input type="text" class="form-control" id="quantity" 
                        required 
                        [(ngModel)]="model.quantity" name="quantity" 
                        #quantity="ngModel">
                    <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
                      Quantity must be a number
                    </div>
                    </div>
              
                    <div class="form-group">
                      <label for="uom">Select:</label>
                      <select class="form-control" id="uom"
                              required
                              [(ngModel)]="model.uom" name="uom"
                              #uom="ngModel">
                        <option *ngFor="let unit of UoMs" [value]="unit">{{unit}}</option>
                      </select>
                      <div [hidden]="uom.valid || uom.pristine" class="alert alert-danger">
                        Unit of Measure is required
                      </div>
                    </div>
              
                    <button type="submit" class="btn btn-success" [disabled]="!ingredForm.form.valid">Add this ingredient</button>
                    <!-- <button type="button" class="btn btn-default" (click)="newIngred(); ingredForm.reset()">New Hero</button>
                    <i>with</i> reset -->
              
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" (click)="newIngred()">Clear</button>
                    <!-- <br>
                    <button id="btndone" (click)="putNew()">Done editing this Recipe</button> -->
              
                   <!-- NOT SHOWN IN DOCS -->
              
                   <!-- - -->
                  </form>
                </div>
              
                <div [hidden]="!submitted">
                  <button class="btn btn-primary" (click)="submitted=false; newIngred()">Add another ingredient</button>
                </div>
              </div>
              
              <div>
              <ion-row ion-list id="ingredientRow" *ngFor="let item of ingredientsList; let i = index">
                <ion-icon [name]="item.icon" item-start></ion-icon>
                    <ion-card id="card">
                        
                  <div id="ingredientCard">{{item}}:
                    {{quantitiesList[i]}}
                    {{uomsDisplayed[i]}}
                  
                  <button id="remove" (click)="deleteIngred(item, i)">Remove</button>
                </div>
                </ion-card>
              </ion-row>
              </div>
              







              <div>
              </div>
          </ion-item>              
        </ion-list>
      
        <ion-list *ngSwitchCase="'Instructions'">
          <ion-item>
              <ion-thumbnail item-start>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
          </ion-item>
            ...
        </ion-list>

          


              <!-- <ion-row ion-list id="ingredientRow" *ngFor="let item of ingList; let i = index">
                <ion-icon [name]="item.icon" item-start></ion-icon>
                    <ion-card id="card">
                        
                  <div>{{item}}:
                    {{qtyList[i]}}
                    {{uomsList[i]}}
                  
                  <button id="remove">Remove</button>
                </div>
                </ion-card>
              </ion-row> -->


          <!-- <ion-list>
      
            <ion-item>
              <ion-label>Ingredient</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label>Quantity</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>

            
                <ion-list>
                    <ion-item>
                      <ion-label>Select</ion-label>
                      <ion-select [(ngModel)]="gaming">
                        <ion-option value="Cups">Cups</ion-option>
                        <ion-option value="Pints">Pints</ion-option>
                        <ion-option value="Quarts">Quarts</ion-option>
                        <ion-option value="Gallons">Gallons</ion-option>
                        <ion-option value="Ounces">Ounces</ion-option>
                        <ion-option value="Tablespoons">Tablespoons</ion-option>
                        <ion-option value="Teaspoons">Teaspoons</ion-option>
                        <ion-option value="Large Eggs">Large Eggs</ion-option>
                        <ion-option value="Liters">Liters</ion-option>
                        <ion-option value="Milliliters">Milliliters</ion-option>
                        <ion-option value="Cubic Inches">Cubic Inches</ion-option>
                        <ion-option value="Cubic Centimeters">Cubic Centimeters</ion-option>
                        <ion-option value="Grams">Grams</ion-option>
                        <ion-option value="Milligrams">Milligrams</ion-option>
                        <ion-option value="Pounds">Pounds</ion-option>
                        <ion-option value="Gills">Gills</ion-option>


                      </ion-select>
                    </ion-item>
                  </ion-list>
          
      
          </ion-list>
      
          <div padding>
            <button block (click)="addIngredient()">Add</button>
          </div> -->
        

      
      
      </div>

</ion-content>
