page-recipe {

    
        #bkgrnd {
            background-color: map-get($colors, 'primary');
        }
    
        #edit {
            float: right;
            background-color: map-get($colors, 'mybrown');
            border: 3px solid black;
            color: white;
            font-weight: bold;
        }
    
        #page {
            // background-color: map-get($colors, 'primary');
            font-weight: bold;
            // border-color: map-get($colors, 'secondary');
            font-size: 140%;
        }

        #card {
            font-size: large;
            background-color: map-get($colors, 'mytan' );
            border-radius: 5px;
            padding-left: 10px;
            padding-top: 5px;
            // text-align: center
        }
        
        #amount {
            text-align: left;
            float: right;
            padding: 10px;
            font-size: large
        }

        #change {
            float: left;
            padding: 5px;
            background-color: map-get($colors, 'mybrown');
            border: 3px solid black;
            color: white;
            border-radius: 4px;
            margin-left: 6px;
            margin-bottom: 4px;
        }

        #UoM {
            float: right;
            font-size: large;
            background-color: map-get($colors, 'mytan');
            // border: solid, white;
            border-width: 4px;
            padding: 5px;
            margin-right: 5px;
            // background-color: map-get($colors, 'mybrown');
            // border: 3px solid black;
            // color: white;
            font-weight: bold;
            // margin-left: 32%;
            // margin-top: 1em;
        }

        #ingredientName {
            float: left;
        }

    
        #editfab {
            background-color: map-get($colors, 'secondary' );
            color: black;
        }
    
    }
