page-landing {


    #bkgrnd {
        background-color: map-get($colors, 'primary');
    }

    .button {
        background-color: map-get($colors, 'mybrown');
        border: 3px solid black;
        color: white;
        margin-left: 32%;
        margin-top: 1em;
    }

    #chooseRecipe {
        background-color: map-get($colors, 'mytan');
        font-weight: bold;
    }

    // .ion-list {
    //     font-weight: bold
    // }

}
