page-landing {


    // #bkgrnd {
    //     background-color: map-get($colors, 'primary');
    // }

    // .button {
    //     background-color: map-get($colors, 'mytan');
    //     border: 3px solid black;
    //     color: black;
    //     font-weight: bold;
    //     margin-left: 32%;
    //     margin-top: 1em;
    // }

    // #chooseRecipe {
    //     background-color: map-get($colors, 'secondary');
    //     font-weight: bold;
    //     border: 3px solid;
    //     border-color: map-get($colors, 'dbrown');
    // }


    #bkgrnd {
        background-color: map-get($colors, 'primary');
    }

    .button {
        background-color: map-get($colors, 'mybrown');
        border: 3px solid black;
        color: white;
        font-weight: bold;
        margin-left: 32%;
        margin-top: 1em;
    }

    #chooseRecipe {
        background-color: map-get($colors, 'mytan');
        font-weight: bold;
        // border: 2px solid;
        border-color: map-get($colors, 'secondary');
    }
    
    // .ion-list {
    //     font-weight: bold
    // }

}
