
recipe-editor {

    
    .container {
        
        background-color: map-get($colors, 'primary');
    }

    .form-control {
        background-color: map-get($colors, 'secondary' );
        margin: 0.15em;
    }


    button {
        // float: right;
        font-size: large;
        // background-color: map-get($colors, 'mytan');
        // border: solid, white;
        border: 3px solid black;
        border-width: 3px;
        border-radius: 6px;
        padding: 5px;
        // margin-right: 5px;
        background-color: map-get($colors, 'mybrown');
        color: white;
        // font-weight: bold;
        // margin-left: 32%;
        margin-top: 1em;
    }

    #btndone {
        margin: 3px;
    } 


    #card {
        font-size: large;
        background-color: map-get($colors, 'secondary' );
        // text-align: center
    }

    #ingredientCard {
        
    }




}
